:host {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.header {
	flex-grow: 0;
	background-color: var(--primary-color);
	color: white;
	overflow-x: hidden;
}

.header-centered {
	padding: 10px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.app-icon {
	height: 40px;
	width: auto;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;
	overflow-x: hidden;
}

.footer {
	flex-grow: 0;
	overflow-x: hidden;
}

.mainFooterCentered {
	margin: 15px;
	display: flex;
	justify-content: center;
}

.mainFooter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
