<header class="header">
	<div class="header-centered center1000px">
		<img src="assets/exchange-dollar-euro.svg" alt="App icon" class="app-icon"/>
		<h1>Exchange rates</h1>
	</div>
</header>
<main class="main center1000px">
	<app-currency/>
	@if (tokenError) {
		<app-error-handler/>
	}
</main>
<footer class="footer center1000px">
	<div class="mainFooterCentered">
		<div class="mainFooter">
			<p>
				<span>Created by </span>
				<a href="https://pashabezk.github.io/MainPage" target="_blank" rel="noreferrer">pashabezk</a>
			</p>
		</div>
	</div>
</footer>
