:host {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.plus-icon-wrapper {
	position: relative;
}

.plus-icon {
	width: 26px;
	height: auto;
	cursor: pointer;
}

.current-currency-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.time {
	color: var(--non-accent-text-color);
	font-size: smaller;
}
