<div class="current-currency-block">
	<div>
		<h2>Currency {{userCurrency}}</h2>
		<p title="Время последнего обновления" class="time">12.04.2024, 14:45</p>
	</div>
	<div class="plus-icon-wrapper">
		<img src="assets/plus-circle.svg" alt="+" class="plus-icon" (click)="openCloseSelector()"/>
		@if (isSelectorOpen) {
			<app-curr-selector
				[selectedCurrencies]="selectedCurrencies"
				(onOutsideClick)="openCloseSelector()"
				(onChangeCurrency)="changeCurrency($event)"
			/>
		}
	</div>
</div>
@for (cur of selectedCurrencies; track cur) {
	<app-currency-card
		[currencyShortName]="cur"
	/>
}
